$color-seccion-titulo-fondo: hsla(231, 50%, 33%, 0.397);
$color-seccion-titulo-letra: rgba(11, 8, 41, 0.603);
$color-cajita-fondo: rgb(28, 63, 95);
$color-transparente:#f8f6f600;
$color-seccion-titulo-sombra: hsla(230, 52%, 18%, 0.527);
$color-header-titulo-ppal: rgb(11, 8, 41);
$color-letras_blancas: hsl(240, 4%, 95%);
